.main {
  position: fixed;
  top: 56vh;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
}

.main__div {
  font-size: 96px;
  color: #f5f5f7;
  line-height: 0.975;
  opacity: 0;
  text-align: center;
}

.div-2 {
  margin-top: 4rem;
}
