.background {
  height: 3000px;
}

.background__figure {
  // position: fixed;
  position: sticky;
  top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.background__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 95%;
  width: 100%;
  object-fit: cover;
}

.background__picture-number {
  position: fixed;
  top: 0;
  right: 0;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background: #fff;
  z-index: 2;
}
